.containerCard {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: .4rem;
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerButtons {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
}

.containerButtons button:hover {
    cursor: pointer;
}